In [9]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import datetime as dtconvert
from itertools import combinations
from itertools import chain

In [63]:
#pd.set_option('display.max_rows', None)
data = pd.read_csv('movie_bd_v5.csv')
pd.set_option('display.max_rows', None)

data.sample(5)
#display(data)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
746,tt1478338,32500000,288383523,Bridesmaids,Kristen Wiig|Rose Byrne|Maya Rudolph|Wendi McL...,Paul Feig,Save the date,Annieâ€™s life is a mess. But when she finds o...,125,Romance|Comedy,Universal Pictures|Relativity Media|Apatow Pro...,4/28/2011,6.5,2011
344,tt1294213,15000000,5024782,Solitary Man,Michael Douglas|Jesse Eisenberg|Susan Sarandon...,Brian Koppelman|David Levien,Ben loves his family almost as much as he love...,A car magnate watches his personal and profess...,90,Comedy|Drama|Romance,Smartest Man Productions|Millennium Films|Paul...,9/7/2009,5.7,2009
358,tt0970452,45000000,7810000,Solomon Kane,James Purefoy|Pete Postlethwaite|Alice Krige|M...,Michael J. Bassett,Fight evil... With evil.,"A nomadic 16th century warrior, condemned to h...",104,Adventure|Fantasy|Action|Science Fiction,Davis-Films|Czech Anglo Productions|Wandering ...,9/16/2009,5.5,2009
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008
168,tt2467046,16000000,19682924,Left Behind,Nicolas Cage|Chad Michael Murray|Lea Thompson|...,Vic Armstrong,The End Begins,A small group of survivors are left behind aft...,110,Thriller|Action|Science Fiction,Stoney Lake Entertainment,10/3/2014,3.8,2014

In [64]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [24]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# return profit = revenue - budget
def count_profit(revenue, budget):
 return revenue - budget


#return date from str
def get_date(str_in):
 date_as_date = dtconvert.datetime.strptime(str_in, '%m/%d/%Y').date()
 return date_as_date 


#return month from str
def get_month(str_in):
 month = dtconvert.datetime.strptime(str_in, '%m/%d/%Y').date().month
 return int(month)


#return len of str
def get_len_str(str_in):
 return len(str_in)


#return quantity words in str
def get_quantity_words(str_in):
 quantity_of_words = len(str_in.split(' '))
 return quantity_of_words

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [27]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

#+

In [65]:
max_budget = data[data['budget'] == data['budget'].max()].original_title
display(max_budget)

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [28]:
answers['2'] = '2. Gods and Generals'
#+

In [68]:
longest_film = data[data['runtime'] == data['runtime'].max()].original_title
display(longest_film)

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [29]:
answers['3'] = '3. Winnie the Pooh'
#+

In [67]:
shortest_film = data[data['runtime'] == data['runtime'].min()].original_title
display(shortest_film)

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [30]:
answers['4'] = '2. 110'
#+

In [69]:
mean_long_films = data.runtime.mean()
display(mean_long_films)

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [31]:
answers['5'] = '1. 107'
#+

In [70]:
median_long_films = data.runtime.median()
display(median_long_films)

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [33]:
answers['6'] = '5. Avatar'
#+

In [71]:
data['profit'] = count_profit(data.revenue, data.budget) 
profitest_film = data.sort_values('profit',ascending=False).head(1).original_title
print(profitest_film)

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [34]:
answers['7'] = '5. The Lone Ranger'
#+

In [72]:
data['profit'] = count_profit(data.revenue, data.budget) 
most_unprofitable = data.sort_values('profit',ascending=True).head(1).original_title
print(most_unprofitable)

1245    The Lone Ranger
Name: original_title, dtype: object

In [ ]:
ВАРИАНТ 2

In [73]:
data['profit'] = count_profit(data.revenue, data.budget) 
most_unprofitable = data.sort_values('profit',ascending=False).tail(1).original_title
print(most_unprofitable)

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [36]:
answers['8'] = '1. 1478'
#+

In [74]:
revenue_more_budget = data[data['revenue'] > data['budget']].nunique().imdb_id                 
display(revenue_more_budget)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [37]:
answers['9'] = '4. The Dark Knight'
#+

In [75]:
films_2008 = data[(data['release_year'] == 2008)]
film_2008_maxrevenue = films_2008[films_2008['revenue'] == films_2008['revenue'].max()].original_title
display(film_2008_maxrevenue)

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [38]:
answers['10'] = '5. The Lone Ranger'
#+

In [76]:
data['profit'] = count_profit(data.revenue, data.budget)
films_2012_2014 = data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)]
most_unprofitable_2012_2014 = films_2012_2014[films_2012_2014['profit'] == films_2012_2014['profit'].min()].original_title
display(most_unprofitable_2012_2014)

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [39]:
answers['11'] = '3. Drama'
#+

In [77]:
Counter(data.genres.str.split('|').sum()).most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [42]:
answers['12'] = '1. Drama'
#+

In [78]:
data_one_genres = data.copy()
data_one_genres.genres = data_one_genres.genres.str.split('|')
data_one_genres = data_one_genres.explode('genres')
data_one_genres =  data_one_genres[data_one_genres['profit'] > 0]
genres_profit = data_one_genres.groupby(['genres'])['profit'].count().sort_values(ascending=False).head(1)
display(genres_profit)

genres
Drama    560
Name: profit, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [43]:
answers['13'] = '5. Peter Jackson'
#+

In [79]:
data_one_director = data.copy()
data_one_director.director = data_one_director.director.str.split('|')
data_one_director = data_one_director.explode('director')
director_revenue = data_one_director.groupby('director')['revenue'].sum().sort_values(ascending=False).head(1)
display(director_revenue)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [44]:
answers['14'] = '3. Robert Rodriguez'
#+

In [80]:
data_Action_director = data.copy()

data_Action_director.genres = data_Action_director.genres.str.split('|')
data_Action_director = data_Action_director.explode('genres')
data_Action_director = data_Action_director[data_Action_director.genres == 'Action']

data_Action_director.director = data_Action_director.director.str.split('|')
data_Action_director = data_Action_director.explode('director')
data_Action_director = data_Action_director.groupby('director')['genres'].count().sort_values(ascending=False).head(1)
display(data_Action_director)

director
Robert Rodriguez    9
Name: genres, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [45]:
answers['15'] = '3. Chris Hemsworth'
#+

In [81]:
data_cast_revenue = data.copy()
data_cast_revenue = data_cast_revenue[data_cast_revenue.release_year == 2012]
data_cast_revenue.cast = data_cast_revenue.cast.str.split('|')
data_cast_revenue = data_cast_revenue.explode('cast')
cast_revenue = data_cast_revenue.groupby('cast')['revenue'].sum().sort_values(ascending=False).head(1)
display(cast_revenue)

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [46]:
answers['16'] = '3. Matt Damon'
#+

In [82]:
data_cast_highbudget = data.copy()
data_cast_highbudget = data_cast_highbudget[data_cast_highbudget.budget > data_cast_highbudget.budget.mean()]
data_cast_highbudget.cast = data_cast_highbudget.cast.str.split('|')
data_cast_highbudget = data_cast_highbudget.explode('cast')
data_cast_highbudget = data_cast_highbudget.groupby('cast')['budget'].count().sort_values(ascending=False).head(1)
display(data_cast_highbudget)

cast
Matt Damon    18
Name: budget, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [47]:
answers['17'] = '2. Action'
#+

In [83]:
data_NC_Action = data.copy()
data_NC_Action.cast = data_NC_Action.cast.str.split('|')
data_NC_Action = data_NC_Action.explode('cast')
data_NC_Action = data_NC_Action[data_NC_Action.cast == 'Nicolas Cage']

data_NC_Action.genres = data_NC_Action.genres.str.split('|')
data_NC_Action = data_NC_Action.explode('genres')

data_NC_Action = data_NC_Action.groupby('genres')['cast'].count().sort_values(ascending=False).head(1)
display(data_NC_Action)

genres
Action    17
Name: cast, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [48]:
answers['18'] = '1. K-19: The Widowmaker'
#+

In [84]:
most_unprofitable_PP = data.copy()
most_unprofitable_PP.production_companies = most_unprofitable_PP.production_companies.str.split('|')
most_unprofitable_PP = most_unprofitable_PP.explode('production_companies')
most_unprofitable_PP = (most_unprofitable_PP[most_unprofitable_PP.production_companies == 'Paramount Pictures'].
                       sort_values('profit', ascending=True).head(1).original_title)
display(most_unprofitable_PP)

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [49]:
answers['19'] = '5. 2015'
#+

In [85]:
most_revenue_year = data.copy()
most_revenue_year = most_revenue_year.groupby('release_year')['revenue'].sum().sort_values(ascending=False).head(1)
display(most_revenue_year)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [50]:
answers['20'] = '1. 2014'
#+

In [86]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = count_profit(data.revenue, data.budget)
profitest_year_WB = data.copy()
profitest_year_WB.production_companies = profitest_year_WB.production_companies.str.split('|')
profitest_year_WB = profitest_year_WB.explode('production_companies')
profitest_year_WB = profitest_year_WB[profitest_year_WB.production_companies.str.contains('Warner Bros')]
profitest_year_WB = profitest_year_WB.groupby('release_year')['profit'].sum().sort_values(ascending=False)
display(profitest_year_WB)

release_year
2014    2292949646
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1844008221
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1282142579
2012    1258020056
2002    1022709901
2015     870368348
2006     625351872
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [52]:
answers['21'] = '4. September'
#+

In [87]:
month_m = data.copy()
month_m['release_date_as_date'] = month_m.release_date.apply(get_date)
month_m['release_date_month'] = month_m.release_date.apply(get_month)
month_most_count = month_m.release_date_month.value_counts().sort_values(ascending=False).head(1)
display(month_most_count)

9    227
Name: release_date_month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [53]:
answers['22'] = '2. 450'
#+

In [89]:
films_summer = data.copy()
films_summer['release_date_as_date'] = films_summer.release_date.apply(get_date)
films_summer['release_date_month'] = films_summer.release_date.apply(get_month)
films_summer = films_summer[films_summer.release_date_month >= 6]
films_summer = films_summer[films_summer.release_date_month <= 8]
films_summer_count = films_summer.release_date_month.count()
display(films_summer_count)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [55]:
answers['23'] = '5. Peter Jackson'
#+

In [90]:
director_winter = data.copy()
director_winter.director = director_winter.director.str.split('|')
director_winter = director_winter.explode('director')
director_winter['release_date_as_date'] = director_winter.release_date.apply(get_date)
director_winter['release_date_month'] = director_winter.release_date.apply(get_month)
director_winter = (director_winter[(director_winter.release_date_month == 12)
                | (director_winter.release_date_month == 1) 
                | (director_winter.release_date_month == 2)])
director_winter_count = director_winter.groupby('director')['release_date_month'].count().sort_values(ascending=False).head(1)

display(director_winter_count)

director
Peter Jackson    7
Name: release_date_month, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [56]:
answers['24'] = '5. Four By Two Productions'
#+

In [91]:
most_original_title = data.copy()
most_original_title['len_original_title'] = most_original_title.original_title.apply(get_len_str)
most_original_title.production_companies = most_original_title.production_companies.str.split('|')
most_original_title = most_original_title.explode('production_companies')
most_original_title_mean = (most_original_title.groupby('production_companies')['len_original_title'].mean().
                            sort_values(ascending=False).head(1))

display(most_original_title_mean)

production_companies
Four By Two Productions    83.0
Name: len_original_title, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [57]:
answers['25'] = '3. Midnight Picture Show'
#+

In [92]:
PC_count_words_overview = data.copy()
PC_count_words_overview['count_words_overview'] = PC_count_words_overview.overview.apply(get_quantity_words)
PC_count_words_overview.production_companies = PC_count_words_overview.production_companies.str.split('|')
PC_count_words_overview = PC_count_words_overview.explode('production_companies')
most_count_words_overview = (PC_count_words_overview.groupby('production_companies')['count_words_overview'].mean().
                            sort_values(ascending=False).head(1))
display(most_count_words_overview)

production_companies
Midnight Picture Show    175.0
Name: count_words_overview, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [58]:
answers['26'] = '1. Inside Out'
#+

In [96]:
one_procent_best_films = data.copy()
len_all_films = len(one_procent_best_films)
one_procent_quantity = round(len_all_films * 0.01)
one_procent_best_films = one_procent_best_films.sort_values(['vote_average'], ascending=False).head(one_procent_quantity)
display(one_procent_best_films)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,219555708
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,29401758
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,292000694
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,308330363
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,167000000
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,603312399
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,30723096
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010,665500000
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002,85072577
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014,144600318
1188,tt1798709,23000000,47351251,Her,Joaquin Phoenix|Scarlett Johansson|Rooney Mara...,Spike Jonze,A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,Romance|Science Fiction|Drama,Annapurna Pictures,12/18/2013,7.8,2013,24351251
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,11/6/2015,7.8,2015,68346473
124,tt2245084,165000000,652105443,Big Hero 6,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...,Don Hall|Chris Williams,From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,Adventure|Family|Animation|Action|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,10/24/2014,7.8,2014,487105443
177,tt2582846,12000000,305151265,The Fault in Our Stars,Shailene Woodley|Ansel Elgort|Nat Wolff|Laura ...,Josh Boone,One Sick Love Story,Despite the tumor-shrinking medical miracle th...,125,Romance|Drama,Fox 2000 Pictures|Temple Hill Entertainment|TS...,5/16/2014,7.8,2014,293151265
863,tt0167261,79000000,926287400,The Lord of the Rings: The Two Towers,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,A New Power Is Rising.,Frodo and Sam are trekking to Mordor to destro...,179,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,12/18/2002,7.8,2002,847287400

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [60]:
answers['27'] = '5. Daniel Radcliffe, Rupert Grint'
#+

In [97]:
cast_combinations = data.copy()
cast_combinations['cast_split'] = cast_combinations['cast'].str.split('|')
cast_combinations['cast_together']=cast_combinations.cast_split.apply(lambda x: list(combinations(x, 2)))
cast_combinations_list = cast_combinations.cast_together.tolist()
cast_combinations_list_chain = list(chain(*cast_combinations_list))
cast_combinations_most_common = Counter(cast_combinations_list_chain).most_common(1)
display(cast_combinations_most_common)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

ВАРИАНТ 2

# Submission

In [98]:
# в конце можно посмотреть свои ответы к каждому вопросу
print(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides', '2': '2. Gods and Generals', '3': '3. Winnie the Pooh', '4': '2. 110', '5': '1. 107', '6': '5. Avatar', '7': '5. The Lone Ranger', '8': '1. 1478', '9': '4. The Dark Knight', '10': '5. The Lone Ranger', '11': '3. Drama', '12': '1. Drama', '13': '5. Peter Jackson', '14': '3. Robert Rodriguez', '15': '3. Chris Hemsworth', '16': '3. Matt Damon', '17': '2. Action', '18': '1. K-19: The Widowmaker', '19': '5. 2015', '20': '1. 2014', '21': '4. September', '22': '2. 450', '23': '5. Peter Jackson', '24': '5. Four By Two Productions', '25': '3. Midnight Picture Show', '26': '1. Inside Out', '27': '5. Daniel Radcliffe, Rupert Grint'}

In [99]:
# и убедиться что ни чего не пропустил)
len(answers)

27