In [29]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [54]:
#pd.set_option('display.max_rows', None)
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)
#display(data)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
604,tt1099212,37000000,392616625,Twilight,Kristen Stewart|Robert Pattinson|Billy Burke|T...,Catherine Hardwicke,"When you can live forever, what do you live for?",When Bella Swan moves to a small town in the P...,122,Adventure|Fantasy|Drama|Romance,Summit Entertainment|Maverick Films|Imprint En...,11/20/2008,5.8,2008
325,tt1045778,60000000,62357900,Year One,Jack Black|Michael Cera|Olivia Wilde|Oliver Pl...,Harold Ramis,Meet your ancestors,When a couple of lazy hunter-gatherers are ban...,97,Comedy|Adventure,Columbia Pictures|Ocean Pictures|Apatow Produc...,6/18/2009,4.5,2009
159,tt2180411,50000000,212902372,Into the Woods,Meryl Streep|Emily Blunt|James Corden|Anna Ken...,Rob Marshall,Be careful what you wish for...,In a woods filled with magic and fairy tale ch...,125,Fantasy|Comedy|Music,Walt Disney Pictures|Marc Platt Productions|Lu...,12/25/2014,5.6,2014
1595,tt0265208,25000000,30411183,The Girl Next Door,Emile Hirsch|Elisha Cuthbert|Timothy Olyphant|...,Luke Greenfield,Matt never saw her coming... but all his frien...,Exceptionally ambitious high schooler Matthew ...,108,Comedy,Regency Enterprises|Epsilon Motion Pictures|Ne...,4/9/2004,6.2,2004
1086,tt0234215,150000000,738599701,The Matrix Reloaded,Keanu Reeves|Carrie-Anne Moss|Laurence Fishbur...,Lilly Wachowski|Lana Wachowski,Free your mind.,Six months after the events depicted in The Ma...,138,Adventure|Action|Thriller|Science Fiction,Village Roadshow Pictures|NPV Entertainment|He...,5/15/2003,6.6,2003

In [6]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [103]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# return profit = revenue - budget
def count_profit(revenue, budget):
 return revenue - budget

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [104]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [131]:
max_budget = data[data['budget'] == data['budget'].max()].original_title
display(max_budget)

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [105]:
answers['2'] = 'Gods and Generals'

In [128]:
longest_film = data[data['runtime'] == data['runtime'].max()].original_title
display(longest_film)
#+

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [106]:
answers['3'] = 'Winnie the Pooh'

In [130]:
shortest_film = data[data['runtime'] == data['runtime'].min()].original_title
display(shortest_film)
#+

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [107]:
answers['4'] = '110'

In [62]:
mean_long_films = data.runtime.mean()
display(mean_long_films)
#+

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [108]:
answers['5'] = '107'

In [133]:
median_long_films = data.runtime.median()
display(median_long_films)
#+

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [109]:
answers['6'] = 'Avatar'

In [144]:
data['profit'] = count_profit(data.revenue, data.budget) 
profitest_film = data.sort_values('profit',ascending=False).head(1).original_title
print(profitest_film)

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [110]:
answers['7'] = 'The Lone Ranger'

In [145]:
data['profit'] = count_profit(data.revenue, data.budget) 
most_unprofitable = data.sort_values('profit',ascending=True).head(1).original_title
print(most_unprofitable)

1245    The Lone Ranger
Name: original_title, dtype: object

In [ ]:
ВАРИАНТ 2

In [146]:
data['profit'] = count_profit(data.revenue, data.budget) 
most_unprofitable = data.sort_values('profit',ascending=False).tail(1).original_title
print(most_unprofitable)

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [111]:
answers['8'] = '1478'

In [139]:
revenue_more_budget = data[data['revenue'] > data['budget']].nunique().imdb_id                 
display(revenue_more_budget)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [143]:
answers['9'] = 'The Dark Knight'

In [149]:
films_2008 = data[(data['release_year'] == 2008)]
film_2008_maxrevenue = films_2008[films_2008['revenue'] == films_2008['revenue'].max()].original_title
display(film_2008_maxrevenue)

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [153]:
answers['10'] = 'The Lone Ranger'

In [152]:
data['profit'] = count_profit(data.revenue, data.budget)
films_2012_2014 = data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)]
most_unprofitable_2012_2014 = films_2012_2014[films_2012_2014['profit'] == films_2012_2014['profit'].min()].original_title
display(most_unprofitable_2012_2014)

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

# 13. У какого режиссера самые большие суммарные кассовые сборы?

# 14. Какой режисер снял больше всего фильмов в стиле Action?

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

# 18. Самый убыточный фильм от Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

# 20. Какой самый прибыльный год для студии Warner Bros?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [154]:
# в конце можно посмотреть свои ответы к каждому вопросу
print(answers)

{'1': 'Pirates of the Caribbean: On Stranger Tides', '2': 'Gods and Generals', '3': 'Winnie the Pooh', '4': '110', '5': '107', '6': 'Avatar', '7': 'The Lone Ranger', '8': '1478', '9': 'The Dark Knight', '10': 'The Lone Ranger'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)